@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');

:root {
  /* --ttRed: #FF0000; */
  --ttRed: #098abd;
  --ttLightRed: #F2EEEA;
  --ttGray: #B5B5B5;
  --ttGray2: #808080;
  --black: #000;
  --white: #fff;
  --tt-pink: #F820A3;
  --tt-gold: #098abd;
  --tt-gradient-2: linear-gradient(90deg, #f80b6af2  0%, #04d0ee 100%);
  /* --tt-gradient-1:linear-gradient(to right top, #10c8e9, #00b8ff, #67a0ff, #b37eef, #e74fba, #e74fba, #e74fba, #e74fba, #b37eef, #67a0ff, #00b8ff, #10c8e9); */
  --tt-gradient-1:linear-gradient(to right top, #2a74b3, #0088bd, #009bc1, #0aadc1, #44bebe);

  --font-inter: "Inter", sans-serif;
  --plyr-color-main: var(--ttRed);
}
.main_logo {
    width: 185px;
}

.bg-logo {
    background-image: linear-gradient(to bottom, #23b8de, #83c6ee, #bbd6f7, #e4e9fb, #ffffff);
}
.box:hover {
  

    
    --border-angle: 0turn; 
    --main-bg: conic-gradient(
        from var(--border-angle),
        #fff,
        #fff 5%,
        #fff 60%,
        #fff 95%
      );
    
    border: solid 5px transparent !important;
    --gradient-border: conic-gradient(from var(--border-angle), transparent 5%, #08f, #f03 99%, transparent);
    
    background: var(--main-bg) padding-box, var(--gradient-border) border-box, var(--main-bg) border-box;
    
    background-position: center center;
  
    animation: bg-spin 3s linear infinite;}
    @keyframes bg-spin {
      to {
        --border-angle: 1turn;
      }
    }
  
    &:hover {
      animation-play-state: paused;
    }
  
  
  @property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
  }
  .home_p{
    margin-right: 88px;
    margin-bottom: 38px;
    color: var(--black);
  }


  
  .jo-social-link:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 4px 6px rgba(0,0,0,0.11),
       2px 2px 4px 2px var(--ttGray);
  }

    .jo-social-link:hover .icon-1>img{
      filter: drop-shadow(0px 7px 10px #006EFF);
    }
    .jo-social-link:hover .icon-2>img{
      filter: drop-shadow(0px 7px 10px #EB4A63);
    }
    .jo-social-link:hover .icon-3>img{
      filter: drop-shadow(0px 7px 10px #501432);
    }
    .jo-social-link:hover .icon-4>img{
      filter: drop-shadow(0px 7px 10px #E60000);
    }
  
.center-imgg{
  display: flex; 
  justify-items: center;
}

.wavy-line {
  width: 150px;
  height:100px;
  overflow: hidden;
  bottom: 25px;
  right: 0;
  position: absolute;

}
.wavy-line1 {
  width: 150px;
  height:100px;
  overflow: hidden;
  bottom: -15px;
  right: 0;
  position: absolute;

}
.wavy-line:before {
  content: attr(data-text);
  position: relative;
  top: -35px;
  color: rgba(0,0,0,0);
  width: calc(100% + 27px);
  font-size: 4.4em;
  text-decoration-style: wavy;
  text-decoration-color: #25173A;
  text-decoration-line: underline;
  animation: animate .9s linear infinite;
}

@keyframes animate {
  0% { left: -0px; }
  100% { left: -30px;}
}
@-webkit-keyframes animate {
  0% { left: -0px; }
  100% { left: -30px;}
}

.wavy-line-blue:before { text-decoration-color: #e5e7e7; }
.blink-heart{
  
  animation: blink 1s ease-in-out infinite;
}
@keyframes blink{
  0%{
    transform: scale(1);
  }
  50%{
transform: scale(1.2);  }
 
  100%{
transform: scale(1);  }
}

.button-four {
  &:before,
  &:after{
    display: block;
    content:"";
    position: absolute;
    background-image: linear-gradient(to right top, #44bebe, #0aadc1, #009bc1, #0088bd, #2a74b3);
        z-index: -1;
        border-radius: 6px;

  }
}
.button--four {
  &:before {
    top: -0.1rem; bottom: 100%; left: -0.1rem; right: calc(100% + 0.1rem);
    transition: left .5s, right .5s, bottom .5s;
    border-radius: 6px;

  }
  &:after {
    top: 100%; bottom: -0.1rem; left: calc(100% + 0.1rem); right: -0.1rem;
    transition: left .5s, right .5s, top .5s;
    border-radius: 6px;

  }
  &:hover {
    &:before {
      top: -0.1rem; bottom: 0; left: -0.1rem; right: 0;
      border-radius: 6px;

    }
    &:after {
      top: 0; bottom: -0.1rem; left: 0; right: -0.1rem;
      border-radius: 6px;

    }
  }
}



   /* wave button */
   .wave-btn {
    position: relative;
   background: var(--tt-gradient-1);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    height: 42px;
    gap: 3px;
    border-radius: 6px;
    color: var(--white);
    z-index: 1;
    /* transition: all 0.4s; */
overflow: hidden;
text-decoration: none;
  }

  .wave-btn>span {
    position: relative;
    z-index: 1;
  }
.wave-btn>span>i{
  
    font-size: 10px;
    padding-top: 1px;
    padding-right: 5px;

}
.wave-btn>span>a>i{
  
  font-size: 15px;
  padding-right: 5px;
  margin-top: 5px;

}
  .wave-btn>.water {
    position: absolute;
    top: -70px;
    left: 0;
    width: 100%;
    height: 200px;
    background-image: linear-gradient(to right top, #44bebe, #0aadc1, #009bc1, #0088bd, #2a74b3);
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
    transition: .5s;
  }

  .wave-btn>.water::after,
  .wave-btn>.water::before {
    content: "";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
    background: #fff;
  }

  .wave-btn>.water::before {
    border-radius: 45%;
    background-image: linear-gradient(to right top, #44bebe, #0aadc1, #009bc1, #0088bd, #2a74b3);
    animation: water 5s linear infinite;
  }

  .wave-btn>.water::after {
    border-radius: 40%;
    background-image: linear-gradient(to right top, #44bebe, #0aadc1, #009bc1, #0088bd, #2a74b3);
    animation: water 10s linear infinite;
  }

  .wave-btn:hover .water {
    top: -120px;
    color: var(--white);
  }

  @keyframes water {
    0% {
      transform: translate(-50%, -75%) rotate(0deg);
    }

    100% {
      transform: translate(-50%, -75%) rotate(360deg);
    }
  }

   /* industry_expertise_innovation_layout_outer */
.industry_expertise_innovation_layout_outer {
    /* background-color: #66fcf1; */
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
background: url("/assets/img/23.png") center center;
background-repeat: no-repeat;
object-fit:contain;
}
        .industry_expertise_innovation_layout_inner {
            /* background:rgba(255, 255, 255, 0.05); */
            height: 650px;
            width: 650px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

        }

        .round {
            position: relative;
            width: 550px;
            height: 550px;
            border: 2px dotted #66fcf1;
            border-radius: 50%;

        }

        .round .icon {
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            left: -50%;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }

        .round .icon .img10x {
            position: absolute;
            background-color: #f8fafc;
            height: 60px;
            width: 60px;
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
            transition: 0.5s;
            transform: rotate(calc(360deg/10 * var(--i)));
            transform-origin: 305px;
            z-index: 1;
            /* overflow: hidden; */

        }

        .round .icon .img10x.active {
            /* border-radius: 50%; */
            box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15), 0 0 0 3px #0095ff, 0 0 0 6px #f8fafc;
        }

        .round .icon .img10x.active {
            background-color: #66fcf1;
        }

        .round .icon .img10x>img {
            height: 30px;
            width: 30px;
            transform: rotate(calc(-360deg/10 * var(--i)));

        }

        .round .icon .img10x:hover {
            /* width: 30px; */
            /* height: 30px; */
            /* transform: scale(1); */
            box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15), 0 0 0 2px #0095ff, 0 0 0 8px #f8fafc;
        }

        .toggle {
            position: absolute;
            inset: 0;
            /* overflow: hidden; */
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .toggle::before {
            content: '';
            position: absolute;
            inset: 50px;
            border: 4px solid transparent;
            border-left: 3px solid #66fcf1;
            border-right: 3px solid #f8fafc;
            border-radius: 50%;
            animation: animte_01 5s linear infinite;
            z-index: 1;
            pointer-events: none;
        }

        @keyframes animte_01 {
            0% {
                rotate: 0deg;
            }

            100% {
                rotate: 360deg;
            }
        }

        .toggle::after {
            content: '';
            position: absolute;
            inset: 100px;
            border: 4px solid transparent;
            border-left: 3px solid #0095ff;
            border-right: 3px solid #f8fafc;
            border-radius: 50%;
            animation: animte_02 2.5s linear infinite;
            z-index: 1;
            pointer-events: none;
        }

        @keyframes animte_02 {
            0% {
                rotate: 360deg;
            }

            100% {
                rotate: 0deg;
            }
        }

        .content10x {
            position: absolute;
            transform: scale(0);
            transform: 0.5s;
            opacity: 0;
        }

        .content10x.active {
            transform: scale(1);
            opacity: 1;
            transition-delay: .5s;

        }

        .content10x .card {
            width: 250px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .content10x .card h2 {
            position: relative;
            font-size: 2.25em;
            color: #fff;
            line-height: 1px;
            text-align: center;

        }

        .content10x .card p {
            /* margin-top: -20px; */
            text-align: center;
            font-size: 1.02em;
        }