@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');

:root {
  /* --ttRed: #FF0000; */
  --ttRed: #098abd;
  --ttLightRed: #F2EEEA;
  --ttGray: #B5B5B5;
  --ttGray2: #808080;
  --black: #000;
  --white: #fff;
  --tt-pink: #F820A3;
  --tt-gold: #098abd;
  --tt-gradient-2: linear-gradient(90deg, #f80b6af2  0%, #04d0ee 100%);
  /* --tt-gradient-1:linear-gradient(to right top, #10c8e9, #00b8ff, #67a0ff, #b37eef, #e74fba, #e74fba, #e74fba, #e74fba, #b37eef, #67a0ff, #00b8ff, #10c8e9); */
  --tt-gradient-1:linear-gradient(to right top, #2a74b3, #0088bd, #009bc1, #0aadc1, #44bebe);

  --font-inter: "Inter", sans-serif;
  --plyr-color-main: var(--ttRed);
}
.main_logo {
    width: 185px;
}

.bg-logo {
    background-image: linear-gradient(to bottom, #23b8de, #83c6ee, #bbd6f7, #e4e9fb, #ffffff);
}
.box:hover {
  

    
    --border-angle: 0turn; 
    --main-bg: conic-gradient(
        from var(--border-angle),
        #fff,
        #fff 5%,
        #fff 60%,
        #fff 95%
      );
    
    border: solid 5px transparent !important;
    --gradient-border: conic-gradient(from var(--border-angle), transparent 5%, #08f, #f03 99%, transparent);
    
    background: var(--main-bg) padding-box, var(--gradient-border) border-box, var(--main-bg) border-box;
    
    background-position: center center;
  
    animation: bg-spin 3s linear infinite;}
    @keyframes bg-spin {
      to {
        --border-angle: 1turn;
      }
    }
  
    &:hover {
      animation-play-state: paused;
    }
  
  
  @property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
  }
  .home_p{
    margin-right: 88px;
    margin-bottom: 38px;
    color: var(--black);
  }


  
  .jo-social-link:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 4px 6px rgba(0,0,0,0.11),
       2px 2px 4px 2px var(--ttGray);
  }

    .jo-social-link:hover .icon-1>img{
      filter: drop-shadow(0px 7px 10px #006EFF);
    }
    .jo-social-link:hover .icon-2>img{
      filter: drop-shadow(0px 7px 10px #EB4A63);
    }
    .jo-social-link:hover .icon-3>img{
      filter: drop-shadow(0px 7px 10px #501432);
    }
    .jo-social-link:hover .icon-4>img{
      filter: drop-shadow(0px 7px 10px #E60000);
    }
  
.center-imgg{
  display: flex; 
  justify-items: center;
}

.wavy-line {
  width: 150px;
  height:100px;
  overflow: hidden;
  bottom: 25px;
  right: 0;
  position: absolute;

}
.wavy-line1 {
  width: 150px;
  height:100px;
  overflow: hidden;
  bottom: -15px;
  right: 0;
  position: absolute;

}
.wavy-line:before {
  content: attr(data-text);
  position: relative;
  top: -35px;
  color: rgba(0,0,0,0);
  width: calc(100% + 27px);
  font-size: 4.4em;
  text-decoration-style: wavy;
  text-decoration-color: #25173A;
  text-decoration-line: underline;
  animation: animate .9s linear infinite;
}

@keyframes animate {
  0% { left: -0px; }
  100% { left: -30px;}
}
@-webkit-keyframes animate {
  0% { left: -0px; }
  100% { left: -30px;}
}

.wavy-line-blue:before { text-decoration-color: #e5e7e7; }
.blink-heart{
  
  animation: blink 1s ease-in-out infinite;
}
@keyframes blink{
  0%{
    transform: scale(1);
  }
  50%{
transform: scale(1.2);  }
 
  100%{
transform: scale(1);  }
}

.button-four {
  &:before,
  &:after{
    display: block;
    content:"";
    position: absolute;
    background-image: linear-gradient(to right top, #44bebe, #0aadc1, #009bc1, #0088bd, #2a74b3);
        z-index: -1;
        border-radius: 6px;

  }
}
.button--four {
  &:before {
    top: -0.1rem; bottom: 100%; left: -0.1rem; right: calc(100% + 0.1rem);
    transition: left .5s, right .5s, bottom .5s;
    border-radius: 6px;

  }
  &:after {
    top: 100%; bottom: -0.1rem; left: calc(100% + 0.1rem); right: -0.1rem;
    transition: left .5s, right .5s, top .5s;
    border-radius: 6px;

  }
  &:hover {
    &:before {
      top: -0.1rem; bottom: 0; left: -0.1rem; right: 0;
      border-radius: 6px;

    }
    &:after {
      top: 0; bottom: -0.1rem; left: 0; right: -0.1rem;
      border-radius: 6px;

    }
  }
}



   /* wave button */
   .wave-btn {
    position: relative;
   background: var(--tt-gradient-1);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    height: 42px;
    gap: 3px;
    border-radius: 6px;
    color: var(--white);
    z-index: 1;
    /* transition: all 0.4s; */
overflow: hidden;
text-decoration: none;
  }

  .wave-btn>span {
    position: relative;
    z-index: 1;
  }
.wave-btn>span>i{
  
    font-size: 10px;
    padding-top: 1px;
    padding-right: 5px;

}
.wave-btn>span>a>i{
  
  font-size: 15px;
  padding-right: 5px;
  margin-top: 5px;

}
  .wave-btn>.water {
    position: absolute;
    top: -70px;
    left: 0;
    width: 100%;
    height: 200px;
    background-image: linear-gradient(to right top, #44bebe, #0aadc1, #009bc1, #0088bd, #2a74b3);
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
    transition: .5s;
  }

  .wave-btn>.water::after,
  .wave-btn>.water::before {
    content: "";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
    background: #fff;
  }

  .wave-btn>.water::before {
    border-radius: 45%;
    background-image: linear-gradient(to right top, #44bebe, #0aadc1, #009bc1, #0088bd, #2a74b3);
    animation: water 5s linear infinite;
  }

  .wave-btn>.water::after {
    border-radius: 40%;
    background-image: linear-gradient(to right top, #44bebe, #0aadc1, #009bc1, #0088bd, #2a74b3);
    animation: water 10s linear infinite;
  }

  .wave-btn:hover .water {
    top: -120px;
    color: var(--white);
  }

  @keyframes water {
    0% {
      transform: translate(-50%, -75%) rotate(0deg);
    }

    100% {
      transform: translate(-50%, -75%) rotate(360deg);
    }
  }



  

   /* category_outer */
   .bg-outer{
    background: url("../img/23.png") center center;
    height: 900px;
    background-repeat: no-repeat;
    object-fit:contain;
   }
.category_outer {
    /* background-color: #66fcf1; */
    display: flex;
    justify-content: center;
    align-items: center;

}
        .category_inner {
            /* background:rgba(255, 255, 255, 0.05); */
            height: 650px;
            width: 650px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

        }

        .category_inner  .round {
            position: relative;
            width: 550px;
            height: 550px;
            border: 2px dotted #0098C0;
            border-radius: 50%;

        }

        .category_inner .round .icon-cat {
            position: relative;
            width: 103%;
            height: 99%;
            display: flex;
            left: -50%;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            
        }


       
        .category_inner .round .icon-cat .img10x {
            position: absolute;
            background-color: #f8fafc;
            height: 80px;
            width: 80px;
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
            transition: 0.5s;
            transform: rotate(calc(360deg/12 * var(--i)));
            transform-origin: 305px;
            z-index: 1;
            color: #006EFF;
            /* overflow: hidden; */


        }

        

        .category_inner .round .icon-cat .img10x.active {
            background-color: #fff;
            box-shadow: 0 0 10px var(--clr), 0 0 25px var(--clr), 0 0 50px var(--clr);

             /* box-shadow: 0 0px 8px var(--clr), 0 0 0 2px var(--clr), 0px 0px 40px  var(--clr), 0 0 0 10px #f8fafc;  */
           

        }

        .category_inner .round .icon-cat .img10x>img {
            height: 30px;
            width: 30px;
            transform: rotate(calc(-360deg/12 * var(--i)));
            transition: 0.5s;

        }

        .category_inner .round .icon-cat .img10x:hover {
            /* width: 30px; */
            /* height: 30px; */
            /* transform: scale(1); */
            /* box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15), 0 0 0 2px #0098C0, 0 0 0 8px #f8fafc; */
            box-shadow: 0 0 10px var(--clr), 0 0 30px var(--clr), 0 0 50px var(--clr);

        }

        .category_inner .toggle-cat {
            position: absolute;
            inset: 0;
            /* overflow: hidden; */
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .category_inner .toggle-cat::before {
            content: '';
            position: absolute;
            inset: 80px;
            border: 4px solid transparent;
            border-left: 3px solid #EA6D2D;
            border-right: 3px solid #E7487E;
            border-radius: 50%;
            animation: animte_01 5s linear infinite;
            z-index: 1;
            pointer-events: none;
        }

        @keyframes animte_01 {
            0% {
                rotate: 0deg;
            }

            100% {
                rotate: 360deg;
            }
        }

        .category_inner .toggle-cat::after {
            content: '';
            position: absolute;
            inset: 110px;
            border: 4px solid transparent;
            border-left: 3px solid #359F9A;
            border-right: 3px solid #4A85B0;
            border-radius: 50%;
            animation: animte_02 2.5s linear infinite;
            z-index: 1;
            pointer-events: none;
        }

        @keyframes animte_02 {
            0% {
                rotate: 360deg;
            }

            100% {
                rotate: 0deg;
            }
        }

        .category_inner .content10x {
            position: absolute;
            transform: scale(0);
            transition: 0.9s all;
            opacity: 0;
        }

       .category_inner .content10x.active {
            transform: scale(1);
            opacity: 1;
            transition-delay: .5s;

        }

       .category_inner .content10x .cards {
            width: 250px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .category_inner .content10x .cards h2 {
            position: relative;
            font-size: 2em;
            color: #0098C0;
            line-height: 1px;
            text-align: center;

        }

        .category_inner .content10x .cards p {
            /* margin-top: -20px; */
            text-align: center;
            font-size: 1.02em;
            color: #fff;
        }
        .category_inner .content10x i{
          color: #feffff;
        }
        .category_inner .cat-tab-icon {
          
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 100%;
          /* background-color: rgb(26 222 235 / .1); */
          /* margin: 0 auto 24px; */
      }
      .cat-tab-icon:after {
        content: "";
        background-image: url(../img/home-icons.webp);
    }
  
        .cat-icon-fashion:after {
          background-position: -2473px -191px;
          width: 50px;
          height: 45px;
      }
      
      .cat-icon-beauty:after {
        background-position: -2553px -194px;
        width: 50px;
        height: 50px;
        rotate: 330deg;

    }
    .cat-icon-finance:after {
      background-position: -1912px -323px;
      height: 50px;
      width: 45px;
      rotate: 300deg;

  }
  .cat-icon-food:after {
    background-position: -2722px -195px;
    width: 50px;
    height: 50px;
    rotate: 270deg;

}
.cat-icon-game:after {
  background-position: -2290px -199px;
  width: 47px;
  height: 45px;
  rotate: 240deg;

}
.cat-icon-fitness:after {
  background-position: -2630px -195px;
  width: 50px;
  height: 50px;
  rotate: 211deg;

}
.cat-icon-comedy:after {
  background-position: -23px -256px;
    background-size: 2437px;
    margin-bottom: 8px;
    height: 45px;
    width: 45px;
    rotate: 180deg;

}
.cat-icon-travel:after {
  background-position: -2807px -194px;
  width: 50px;
  height: 50px;
  rotate: 140deg;

}
.cat-icon-entertain:after {
  background-position: -2899px -198px;
  width: 52px;
  height: 50px;
  rotate: 140deg;

}
.cat-icon-technology:after {
  background-position: -2379px -192px;
  width: 49px;
  height: 50px;
  rotate: 0deg;

}
.cat-icon-education:after {
  background-position: -174px -264px;
  background-size: 2500px;
  height: 45px;
    width: 45px;
    rotate: 60deg;

}
.cat-icon-automobile:after {
  background-position: -347px -286px;
  background-size: 2700px;
  height: 45px;
    width: 45px;
    rotate: 30deg;

}



  

@media screen and (max-width: 768px) {
  
  .bg-outer {
    height: 600px;
    background-size: cover; 
  }

.category_inner {
    height: 270px;
    width: 270px;
}

.category_inner .round {
    width: 270px;
    height: 270px;
}

.category_inner .round .icon-cat .img10x {
    height: 50px;
    width: 50px;
    transform-origin: 155px; 
    left: 40%;
    padding: 30px;
}
.category_inner .round .icon-cat .img10x.active {
  background-color: #fff;
            box-shadow: 0 0 10px var(--clr), 0 0 25px var(--clr), 0 0 50px var(--clr);

   /* box-shadow: 0 0px 2px var(--clr), 0 0 0 2px var(--clr), 0px 0px 10px  var(--clr), 0 0 0 5px #f8fafc;  */
 

}

.category_inner .toggle-cat::before{
    inset: 40px; 
    display: none;
}
.category_inner .toggle-cat::after {
  inset: 30px; 
  display: none;

}
.category_inner .content10x .cards {
  width: 150px;
 
}

.category_inner .content10x .cards h2 {
  font-size: 1em;
 

}

.category_inner .content10x .cards p {
 
  font-size: 0.7em;
}
/* .cat-icon-fashion:after {
  width: 40px;
  height: 35px;
}

.cat-icon-beauty:after {
width: 40px;
height: 40px;

}
.cat-icon-finance:after {
height: 40px;
width: 35px;

}
.cat-icon-food:after {
width: 40px;
height: 40px;

}
.cat-icon-game:after {
width: 37px;
height: 35px;

}
.cat-icon-fitness:after {
width: 40px;
height: 40px;

}
.cat-icon-comedy:after {
height: 35px;
width: 35px;

}
.cat-icon-travel:after {
width: 40px;
height: 40px;

}
.cat-icon-entertain:after {
width: 42px;
height: 40px;

}
.cat-icon-technology:after {
width: 39px;
height: 40px;

}
.cat-icon-education:after {
height: 35px;
width: 35px;

}
.cat-icon-automobile:after {
height: 35px;
width: 35px;

}

 */


}


/* why best */
.whybest-card{
  position: relative;
  width: 100%;
  height: 180px;
  background: #333;
  transition: 0.5s;
  margin-top: 60px;
}
.whybest-card:hover{
height: 350px;
}
.whybest-card .whybest-lines{
  position: absolute;
  inset: 0;
  background: #000;
  overflow: hidden;
}
.whybest-card .whybest-lines::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 700px;
  height: 150px;
  background: linear-gradient(transparent,#45f3ff,#45f3ff,#45f3ff,transparent);
  animation: animate-why 4s linear infinite;
  animation-play-state: paused;
}
.whybest-card:hover .whybest-lines::before{
  animation-play-state: running;
}
@keyframes animate-why{
  0%{
    transform: translate(-50%,-50%) rotate(0deg);
  }
  100%{
    transform: translate(-50%,-50%) rotate(360deg);

  }
}
.whybest-card .whybest-lines::after{
  content: "";
  position: absolute;
  inset: 3px;
  background: #292929;
  background: url("../img/intro-live-bg.png")  #292929 center center;
}
.whybest-card .whybest-imgbox{
  position: absolute;
  top: -60px;
  left: 50%;
  width: 150px;
  height: 150px;
  transform: translateX(-50%);
  background: #000;
  transition: 0.5s;
  z-index: 10;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.whybest-card:hover .whybest-imgbox{
  top: 25px;
  width: 150px;
  height: 150px;
}
.whybest-card .whybest-imgbox::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 700px;
  height: 100px;
  background: linear-gradient(transparent,#56F3EF,#56F3EF,#56F3EF,transparent);
  animation: animate-whys 6s linear infinite;
  animation-play-state: paused;
}
.whybest-card:hover .whybest-imgbox::before{
  animation-play-state: running;
}
@keyframes animate-whys{
  0%{
    transform: translate(-50%,-50%) rotate(360deg);
  }
  100%{
    transform: translate(-50%,-50%) rotate(0deg);

  }
}
.whybest-card .whybest-imgbox::after{
  content: "";
  position: absolute;
  inset: 3px;
  background: #292929;
}
.whybest-card .whybest-imgbox img{
  position: absolute;
  width: 100px;
  z-index: 1;
  filter: invert(1);
  opacity: 0.5;
  transition: 0.5s;
  filter: grayscale(100%);

}
.whybest-card:hover .whybest-imgbox img{

  /* filter: invert(72%) sepia(29%) saturate(4223%) hue-rotate(195deg) brightness(101%) contrast(102%); */
opacity: 1;
}
.whybest-card .whybest-content{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}
.whybest-card .whybest-content .whybest-details{
  padding: 30px 20px;
  text-align: center;
  width: 100%;
  transition: 0.5s;
  transform: translateY(90px);
}
.whybest-card:hover .whybest-content .whybest-details{
  transform: translateY(0px);
}
.whybest-card .whybest-content .whybest-details h2{
  font-size: 1.5em;
  font-weight: 500;
  color: var(--ttRed);
  line-height: 1.2em;
}
.whybest-card .whybest-content .whybest-details p{
  color: var(--white);
  opacity: 0;
  transition: 0.5s;
}
.whybest-card:hover .whybest-content .whybest-details p{
  opacity: 1;
}
@media screen and (max-width: 479px) {
  .whybest-card .whybest-content .whybest-details {
 
    transform: translateY(105px);
}
}
@media screen and (max-width: 379px) {
  .whybest-card .whybest-content .whybest-details {
 
    transform: translateY(105px);}
}
@media screen and (max-width: 320px) {
  .whybest-card .whybest-content .whybest-details {
 
    transform: translateY(160px);}
    .whybest-card:hover {
      height: 420px;
  }
}